{% extends 'base.html' %}

{% block content %}
<div class = "small_center_container">
    <blockquote class="blockquote text-center">
        <p class="mb-0">Эти сукины сыны научились прятаться даже там! </p>
        <footer class="blockquote-footer">Аноним 614802 <cite title="Источник">2ch.hk</cite></footer>
    </blockquote>
    <p>Жизнь преподносит нам много сложностей, которые приходится решать. Попрактиковаться в этом вам поможет наш
        сайт.</p>
    <p>К сожалению, эта ранняя версия симулятора позволяет решать лишь простые математические проблемы, но автор не
        оставляет надежд на то, что когда-нибудь в нем можно будет решать экономические проблемы Зимбабве.</p>
</div>
{% endblock %}