{% extends 'base.html' %}

{% block content %}
<div class="small_center_container">
    {% if topic is not none %}
    <h2>Задачи по теме {{ topics[topic] }}</h2>
    <a href="{{ url_for('tasks_list') }}" class="btn btn-primary btn-block" role="button" style="margin-bottom:2%">
        Сбросить фильтр темы</a>
    {% endif %}
    {% if role >= 2 %}
    <a href="{{ url_for('add_task') }}" class="btn btn-primary btn-block" role="button" style="margin-bottom:2%">Добавить
        задачи</a>
    {%endif%}
    <table class="table table-bordered">
        <thead>
        <th scope="col">№</th>
        <th scope="col">Имя задачи</th>
        <th scope="col">Тема</th>
        <th scope="col">Сложность</th>
        {% if role == 1 %}
        <th scope="col">Добавить</th>
        {% endif %}
        {% if role == 2 %}
        <th scope="col">Редактировать</th>
        <th scope="col">Удалить</th>
        {% endif %}
        </thead>
        <tbody>
        {%for task in tasks_list%}
        <tr>
            <td><a href="{{ url_for('view_task', task_id = task[0]) }}">{{ task[0] }}</a></td>
            <td>{{ task[1] }}</td>
            <td><a href="{{ url_for('tasks_list', topic = task[2]) }}">{{ topics[task[2]] }}</a></td>
            <td>{{ task[3] }}</td>
            {%if role == 1%}
            <td><a href="{{ url_for('add_to_cart', task_id = task[0]) }}" class="add_to_cart_link">В корзину</a></td>
            {%endif%}
            {%if role == 2%}
            <td><a href="{{ url_for('edit_task_form', task_id = task[0]) }}">Редактировать</a></td>
            <td><a href="{{ url_for('delete_task', task_id = task[0]) }}">Удалить</a></td>
            {%endif%}
        </tr>
        {%endfor%}
        </tbody>
    </table>
</div>
{% endblock %}