{% extends 'base.html' %}

{% block content %}
<div class="small_center_container">
    {% if role >= 2 %}
    <a href="{{ url_for('add_task') }}" class="btn btn-primary btn-block" role="button" style="margin-bottom:2%">Добавить
        задачи</a>
    {%endif%}
    <table class="table table-bordered">
        <thead>
        <th scope="col">№</th>
        <th scope="col">Имя задачи</th>
        <th scope="col">Тема</th>
        <th scope="col">Сложность</th>
        {% if role >= 2 %}
        <th scope="col">Редактировать</th>
        <th scope="col">Удалить</th>
        {% endif %}
        </thead>
        <tbody>
        {%for task in tasks_list%}
        <tr>
            <td><a href="task/{{ task[0] }}">{{ task[0] }}</a></td>
            <td>{{ task[1] }}</td>
            <td>{{ task[2] }}</td>
            <td>{{ task[3] }}</td>
            {%if role >= 2%}
            <td><a href="edit/{{ task[0] }}">Редактировать</a></td>
            <td><a href="delete/{{ task[0] }}">Удалить</a></td>
            {%endif%}
        </tr>
        {%endfor%}
        </tbody>
    </table>
</div>
{% endblock %}