{% extends 'base.html' %}

{% block content %}
<div class="small_center_container">
    <table class="table table-bordered">
        <thead>
        <th scope="col">Логин</th>
        <th scope="col">Имя</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Роль</th>
        </thead>
        <tbody>
        {%for user in users_list%}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
            <td>
                <select class="form-control role_selector" id="{{ user[0] }}">
                    <option value="0" {% if user[3]== 0 %}selected="selected" {% endif %}>Ученик</option>
                    <option value="1" {% if user[3]== 1 %}selected="selected" {% endif %}>Учитель</option>
                    <option value="2" {% if user[3]== 2 %}selected="selected" {% endif %}>Админ</option>
                </select>
            </td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
</div>

{% endblock %}